.burgerIngridients {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-row: 6;
  height: 75vh;
}

.title {
  width: 100%;
}

.type {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}

.container {
  display: flex;
  column-gap: 24px;
  row-gap: 36px;
  flex-wrap: wrap;
  padding-left: 16px;
}