.constructorIngridients {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.margin {
  margin-left: 32px;
}

.inverse img {
  transform: rotate(180deg);
}

.onHover {
  border-color: blueviolet;
}