.burgerIngridient {
  width: 272px;
}

.link {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  position: relative;
  text-decoration: none;
  cursor: grab;
  color: inherit;
}

.image {
  height: 120px;
  width: 240px;
}

.price {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.name {
  text-align: center;
  height: 48px;
}