.ingridientMini {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid var(--button-normal, #801AB2);
  box-sizing: border-box;
  background: var(--interface-bg, #131316);
  margin-left: -16px;
  position: relative;
}

.image {
  width: 112px;
  height: 56px;
}

.number {
  position: absolute;
  height: 64px;
  width: 64px;
  line-height: 64px;
  text-align: center;
  top: -2px;
  left: -2px;
  border-radius: 100px;
  background: rgba(28, 28, 33, .6);
}

.ingridientMiniIndex0 {
  z-index: 6;
}

.ingridientMiniIndex1 {
  z-index: 5;
}

.ingridientMiniIndex2 {
  z-index: 4;
}

.ingridientMiniIndex3 {
  z-index: 3;
}

.ingridientMiniIndex4 {
  z-index: 2;
}

.ingridientMiniIndex5 {
  z-index: 1;
}